@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(39, 38, 38);
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 80vw;
  margin: auto;
}

.panel {
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0.5;
  cursor: pointer;
  margin: 10px;
  border-radius: 50px;
  position: relative;
  transition: flex 1s ease-in;
}

h3 {
  color: aliceblue;
  opacity: 0;
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 25px;
}

.active.panel {
  flex: 5;
  transition: flex ease-in-out 1s;
}

.active.panel h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: rgb(48, 79, 99);
  opacity: 0.5;
}

footer p {
  cursor: pointer;
}

@media (max-width: 500px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
